$min-width:1226px;

$fontA:80px;
$fontB:38px;
$fontC:28px;
$fontD:26px;
$fontE:24px;
$fontF:22px;
$fontG:20px;
$fontH:18px;
$fontI:16px;
$fontJ:14px;
$fontK:12px;

$colorA:#FF6600 !default;
$colorB:#333333 !default;
$colorC:#666666 !default;
$colorD:#999999 !default;
$colorE:#cccccc !default;
$colorF:#d7d7d7 !default;
$colorG:#ffffff !default;
$colorH:#e5e5e5 !default;
$colorI:#000000 !default;
$colorJ:#F5F5F5 !default;
$colorK:#FFFAF7 !default;
